**1-Write a Python program to calculate the length of a string using 2 ways

In [ ]:
name="mahmoud"
print(len(name))

7

In [ ]:
name="mahmoud"
c=0
for i in name:
  c+=1
print(c)

7

**2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource'
Expected Result : 'w3ce'
##Sample String : 'w3'
Expected Result : 'w3w3'
##Sample String : ' w'
Expected Result : Empty String)

In [ ]:
str=input("enter a string\n")
if len(str)<2:
    print(" ")
else :
    print(str[0:2]+str[-2]+str[-1])

enter a string
e3
e3e3

**3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc'
Expected Result : 'abcing')

In [ ]:
str=input("enter a string\n")
if len(str)<3 :
    print(str)
else :
    if str.endswith('ing'):
        print(str+'ly')
    else:
        print(str+'ing')

enter a string
abc
abcing

**4-Write a Python function that takes a list of words and return the longest word and the length of the longest one
(Longest word: Exercises
Length of the longest word: 9)

In [ ]:
def longest(li):
    le=0
    w=""
    for word in li :
        if len(word)>le:
            le=len(word)
            w=word
    print("longest word is "+w+" and length is "+str(le))


li=["mahmoud","walid","yasser"]
longest(li)

longest word is mahmoud and length is 7

**5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abca  Expected Result:ebce)

In [ ]:
str= input()
print(str[-1]+str[1:-1]+str[0])

ahmed
dhmea

**6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)

In [ ]:
str=input("enter a string")
print(str[::2])

enter a stringali
ai

**7-Write a Python program to count the occurrences of each word in a given sentence (Sample String:amr and ahmed are frindes but amr is the tallest Expected Result:2)

In [ ]:
str="my name is mahmoud my age is 25"
lis=str.split()
lis=set(lis)
for word in lis :
  print(word ,str.count(word))

my 2
mahmoud 1
age 1
name 1
is 2
25 1

**8-Write a Python script that takes input from the user and displays that input back in upper and lower cases

In [ ]:
str=input("enter a string")
print(str.upper())
print(str.lower())

enter a stringmahmoud
MAHMOUD
mahmoud

**9-Write a Python function to reverse a string if its length is a multiple of 4

In [ ]:
def reverse(str):
    return str[::-1]

str=input("enter a string\n")
if len(str)%4==0 :
    print(reverse(str))
else :
    print(str)

enter a string
mahmouds
sduomham

**10- Write a Python program to remove a newline in Python

In [ ]:
str="\nmahmoud\nfarag\n"
print(str.replace("\n",""))

mahmoudfarag

**11-Write a Python program to check whether a string starts with specified characters

In [ ]:
str="mahmoud"
c=input("enter a char\n")
if str.startswith(c):
  print("yes")
else :
  print("no")

enter a char
m
yes

**12- Write a Python program to add prefix text to all of the lines in a string

In [ ]:
str="mahmoud farag ali"
li=str.split()
for i in li:
    print("mr",i,end=" ")

mr mahmoud mr farag mr ali

**13-Write a Python program to print the following numbers up to 2 decimal places

In [ ]:
n=85.4445
print(round(n,2))

85.44

**14-Write a Python program to print the following numbers up to 2 decimal places with a sign

In [ ]:
n=float(input("enter number"))
if n>0:
    print("+",round(n,2), end="")
else :
    print(round(n,2))

enter number5.4887
+ 5.49

**15-Write a Python program to display a number with a comma separator

In [ ]:
num=input()
for i in num:
  print(i+",",end="")

1126651
1,1,2,6,6,5,1,

**16-Write a Python program to reverse a string using 2 ways

In [ ]:
str='mahmoud'
s=""
for i in str:
    s=i+s
print(s)

duomham

In [ ]:
str='mahmoud'
print(str[::-1])

duomham

 **17-Write a Python program to count repeated characters in a string (hint:use dictionary)

In [ ]:
str="mahmoud farag ali"
d=dict()
for i in str:
  d[i]=0
for i in d:
  d[i]=str.count(i)
print(d)

{'m': 2, 'a': 4, 'h': 1, 'o': 1, 'u': 1, 'd': 1, ' ': 2, 'f': 1, 'r': 1, 'g': 1, 'l': 1, 'i': 1}

**18-Write a Python program to find the first non-repeating character in a given string

In [ ]:
str="mahmoud farag ali"
for i in str:
  if str.count(i)==1:
    print(i)
    break

h

**19-Write a Python program to remove spaces from a given string

In [ ]:
str=input("enter a string\n")
print(str.replace(" ",""))

enter a string
fara          g sfaf gg
faragsfafgg

**20-Write a Python program to count the number of non-empty substrings of a given string

In [ ]:
str=input()
num=(len(str)*(len(str)+1))/2
print(num)

ahmed
15.0

**21-write a Python program to swap first and last element of any list.

In [ ]:
li=[1,2,35,4,5,5]
sw=li[0]
li[0]=li[len(li)-1]
li[len(li)-1]=sw
print(li)

[5, 2, 35, 4, 5, 1]

**22-Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list. (Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90])

In [ ]:
list=[23, 65, 19, 90]
pos1=int(input())
pos2=int(input())
list[pos1-1],list[pos2-1]=list[pos2-1],list[pos1-1]
print(list)

1
3
[19, 65, 23, 90]

**23- search for the all ways to know the length of the list

In [ ]:
list=[1,2,3,5]
print(len(list))

4

**24-write a Python code to find the Maximum number of list of number of list

In [ ]:
li=[5,7,4,9,6,3,1,5,4,7]
li.sort()
print(li[len(li)-1])

9

In [ ]:
#**25-write a Python code to find the Minimum number of list of numbers.

In [ ]:
li=[5,7,4,9,6,3,1,5,4,7]
li.sort()
print(li[0])

1

**26-search for if an elem is existing in list

In [ ]:
list=[1,2,3,4]
i=int(input())
if i in list:
    print("exist")
else :
    print("not exist")

4
exist

**27- clear python list using different ways

In [ ]:
list=[1,2,3,4]
print(list.clear())
lis=[1,2,3,4,5]
for i in range (len(lis)):
    lis.pop()
print(lis)

None
[]

**28-remove duplicated elements from a list

In [ ]:
li=[1,1,2,2,3,5,4]
li=set(li)
print(li)

{1, 2, 3, 4, 5}

**29-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries. (Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”]
Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])

In [4]:
t_list = ["Gfg", 3, "is", 8]
k_list = ["name", "id"]
result = [{k_list[0]: t_list[i], k_list[1]: t_list[i + 1]} for i in range(0, len(t_list), 2)]
print(result)

[{'name': 'Gfg', 'id': 3}, {'name': 'is', 'id': 8}]

**30-write a python program to count unique values inside a list using different ways

In [ ]:
li=[1,2,3,4,4,5,5,4,3]
c=0
for i in li:
    if li.count(i)==1:
        c+=1
print(c)

2

**31-write a python program Extract all elements with Frequency greater than K (Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3
Output : [4, 3] )

In [ ]:
lis=[4, 6, 4, 3, 3, 4, 3, 4, 3, 8]
k=int(input())
res=[]
for i in lis:
  if lis.count(i)>k and i not in res:
    res.append(i)
print(res)

3
[4, 3]

**32-write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5
Output: 2 2 3 4 5)

In [ ]:
def maximumAdjacent(arr1, n):
    arr2 = []
    for i in range(1, n):
        r = max(arr1[i], arr1[i-1])
        arr2.append(r)

    for ele in arr2 :
        print(ele,end=" ")
n = 6
arr1 = [1,2,2,3,4,5]
maximumAdjacent(arr1, n)

2 2 3 4 5

**33-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3]
Output:
1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1)

In [ ]:
def comb(L):

    for i in range(3):
        for j in range(3):
            for k in range(3):
                if (i!=j and j!=k and i!=k):
                    print(L[i], L[j], L[k])

comb([1, 2, 3])

**34-write a Python program to find all the Combinations in the list with the given condition (Input: test_list = [1,2,3]
Output:
 [1], [1, 2], [1, 2, 3], [1, 3]
 [2], [2, 3], [3])

In [5]:
def combinations(test_list, start=0, path=[]):
    if path:
        print(path)
    for i in range(start, len(test_list)):
        combinations(test_list, i + 1, path + [test_list[i]])

test_list = [1, 2, 3]
combinations(test_list)

[1]
[1, 2]
[1, 2, 3]
[1, 3]
[2]
[2, 3]
[3]

**35-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"]
List_2 = [1,2]
Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )

In [ ]:
list_1 = ["a", "b"]
list_2 = [1,2]
unique_combinations = []
for i in range(len(list_1)):
	for j in range(len(list_2)):
		unique_combinations.append((list_1[i], list_2[j]))

print(unique_combinations)

**36-Remove all the occurrences of an element from a list in Python (Input : 1 1 2 3 4 5 1 2 1

**Output : 2 3 4 5 2)

In [ ]:
list=[1,2,3,4,4,1,1,4,4,4,4,4,5]
n=int(input())
r=list.count(n)
for i in range (0,r):
    list.remove(n)
print(list)

4
[1, 2, 3, 1, 1, 5]

**37-write a python program to Replace index elements with elements in Other List (The original list 1 is : [‘Gfg’, ‘is’, ‘best’] The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] The lists after index elements replacements is : [‘Gfg’, ‘is’, ‘best’, ‘is’, ‘Gfg’, ‘Gfg’, ‘Gfg’, ‘best’, ‘is’, ‘is’, ‘best’, ‘Gfg’])

In [ ]:
li1= ["Gfg", "is", "best"]
li2=[0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0]
li=[]
for i in li2:
    i=li1[li2[i]]
    li.append(i)
print(li)

['Gfg', 'is', 'best', 'is', 'Gfg', 'Gfg', 'Gfg', 'best', 'is', 'is', 'best', 'Gfg']

**38- write python program to Retain records with N occurrences of K(Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 2
Output : [(4, 5, 5, 4)]
Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 3
Output : [] )

In [ ]:
test_list = [(4, 5, 5, 4), (5, 4, 3),(1,5,5,7)]
k=int(input())
n=int(input())
li=list()
for i in test_list:
    if i.count(k)==n:
        li.append(i)
print(li)

5
2
[(4, 5, 5, 4), (1, 5, 5, 7)]

**39-write a Python Program to Sort the list according to the column using lambda
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Output :
Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [7]:
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
def sort_by_column(array, column_index):
    return sorted(array, key=lambda x: x[column_index])
c1 = sort_by_column(array, 0)
c2 = sort_by_column(array, 1)
c3 = sort_by_column(array, 2)
print(f"Sorted array specific to column 1: {c1}")
print(f"Sorted array specific to column 2: {c2}")
print(f"Sorted array specific to column 3: {c3}")

Sorted array specific to column 1: [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 2: [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 3: [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [ ]:
**40- write a program to Sort Python Dictionaries by Key or Value
Input:
{'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}

Output:
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

In [ ]:
dic={'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}
li=list(dic.keys())
li.sort()
new_dic={i:dic[i] for i in li}
print(new_dic)

{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

**41-write python program to Remove keys with Values Greater than K ( Including mixed values )
nput : test_dict = {‘Gfg’ : 3, ‘is’ : 7, ‘best’ : 10, ‘for’ : 6, ‘geeks’ : ‘CS’},
K = 7
Output : {‘Gfg’ : 3, ‘for’ : 6, ‘geeks’ : ‘CS’}

In [ ]:
k = 7
res = {}
test_dict = {"Gfg": 3, "is": 7, "best": 10, "for": 6, "geeks": "CS"}
for key in test_dict:
    if not (isinstance(test_dict[key], int) and test_dict[key] > k):
        res[key] = test_dict[key]

print(res)

{'Gfg': 3, 'is': 7, 'for': 6, 'geeks': 'CS'}

**42-Write a Python program to concatenate the following dictionaries to create a new one

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic2.update(dic1)
dic3.update(dic2)
print(dic3)

{5: 50, 6: 60, 3: 30, 4: 40, 1: 10, 2: 20}

**43-Write a Python program to iterate over dictionaries using for loops

In [ ]:
dic = {
    'Gujarat': 'Gandhinagar',
    'Maharashtra': 'Mumbai',
    'Rajasthan': 'Jaipur',
    'Bihar': 'Patna'
}
keys = dic.keys()
print(keys)

<class 'list'>
['Gujarat', 'Maharashtra', 'Rajasthan', 'Bihar']

**44- Write a Python script to merge two Python dictionaries

In [ ]:
dic1 = {'a': 10, 'b': 8}
dic2 = {'d': 6, 'c': 4}
dic1.update(dic2)
print(dic1)

{'a': 10, 'b': 8, 'd': 6, 'c': 4}

**45-Write a Python program to get the maximum and minimum values of a dictionary values

In [ ]:
dict={1:2,2:3,3:1}
li=list(dict.values())
print(min(li))
print(max(li))

1
3

**46- Write a Python program to drop empty items from a given dictionary.
Original Dictionary:
{'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items:
{'c1': 'Red', 'c2': 'Green'}

In [ ]:
color = {'c1': 'Red', 'c2': 'Green', 'c3': None}
print("Original Dictionary:",color)
color = {key:value for (key, value) in color.items() if value is not None}
print("New Dictionary :",color)

**47-Write a Python program to create a tuple of numbers and print one item

In [ ]:
a=1
b=2
c=3
tu=a,c,b
print(tu)

(1, 3, 2)

**48-Write a Python program to unpack a tuple into several variables

In [ ]:
tu=(1,2,7)
a,b,c=tu
print(a,b,c,end=" ")

1 2 7

**49-Write a Python program to add an item to a tuple

In [ ]:
t = (10,40,50,70,90)
l=(100,)
t=t+l
print(t)

(10, 40, 50, 70, 90, 100)

**50-Write a Python program to convert a tuple to a string

In [ ]:
tup = ("f","a","r","a","g")
str = ''.join(tup)
print(str)

**51-Write a Python program to convert a list to a tuple

In [ ]:
li=[1,2,3,4]
li=tuple(li)
print(li)

(1, 2, 3, 4)

**52-Write a Python program to reverse a tuple

In [ ]:
li=(1,2,3,4)
li=list(li)
li.reverse()
li=tuple(li)
print(li)

(4, 3, 2, 1)

**53-Write a Python program to replace the last value of tuples in a list.
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [ ]:
lis=[(10, 20, 40), (40, 50, 60), (70, 80, 90)]
li=list()
for i in lis:
    i=list(i)
    i[len(i)-1]=100
    i=tuple(i)
    li.append(i)
print(li)

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

**54-Write a Python program to convert a given string list to a tuple
Original string: python 3.0
<class 'str'>
Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

In [ ]:
str="python 3.0"
print(tuple(str))

('p', 'y', 't', 'h', 'o', 'n', ' ', '3', '.', '0')

**55-Write a Python program to calculate the average value of the numbers in a given tuple of tuples

In [ ]:
lis=[(1,2,3),(2,3,1),(3,2,1)]
sum = 0
for sub in lis:
    for i in sub:
        sum = sum + i
res = sum / len(lis)
print(res)

6.0

**56-Write a Python program to add member(s) to a set.

In [ ]:
se={1,2}
a=0
n=int(input("enter number of members"))
for i in range(n) :
    a=input()
    se.add(a)
print(se)

enter number of members4
8
7
6
5
{1, 2, '7', '5', '6', '8'}

**57-Write a Python program to remove an item from a set if it is present in the set.

In [ ]:
se={1,2,5,3,7}
n=int(input("enter a number"))
if n in se:
    se.remove(n)
    print(se)
else:
    print(se)

enter a number5
{1, 2, 3, 7}

**58-Write a Python program to create an intersection,union,difference and symmetric difference of sets

In [ ]:
set1={1,2,3,4,5,7}
set2={1,3,5,8,9,7}
print(set1&set2)
print(set1|set2)
print(set1-set2)
print(set1^set2)

{1, 3, 5, 7}
{1, 2, 3, 4, 5, 7, 8, 9}
{2, 4}
{2, 4, 8, 9}

**59-Write a Python program to find the maximum and minimum values in a set

In [ ]:
set={1,4,1,8,1,7}
print(max(set))
print(min(set))

**60- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.

In [ ]:
def findPairs(lst, K):
    res = []
    while lst:
        num = lst.pop()
        diff = K - num
        if diff in lst:
            res.append((diff, num))
    return res
lst = [1, 5, 3, 7, 9]
K = 12
print(findPairs(lst, K))

[(3, 9), (5, 7)]