# Task on List:
 You have a list of your favourite marvel super heros.
```
heros=['spider man','thor','hulk','iron man','captain america']
```

Using this find out,

    1. Length of the list
    2. Add 'black panther' at the end of this list
    3. You realize that you need to add 'black panther' after 'hulk',
       so remove it from the list first and then add it after 'hulk'
    4. Now you don't like thor and hulk because they get angry easily :)
       So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
       Do that with one line of code.
    5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

In [15]:
heros=['spider man','thor','hulk','iron man','captain america']
len(heros)

5

In [16]:
heros.append("black panther")
heros

['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']

In [17]:
heros.pop()
heros.insert(3,"black panther")
heros

['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']

In [18]:
heros[1:3]=["doctor strange"]
heros

['spider man',
 'doctor strange',
 'black panther',
 'iron man',
 'captain america']

In [22]:
heros.sort()
heros

['black panther',
 'captain america',
 'doctor strange',
 'iron man',
 'spider man']

# Task on Variables:
1. Create two variables. One to store your birth year and another one to store current year. Now calculate your age using these two variables
2. Store your first, middle and last name in three different variables and then print your full name using these variables
3. Answer which of these are invalid variable names: 
   _nation
   1record
   record1
   record_one
   record-one
   record^one

In [24]:
birth_year=2003
current_year=2024
age=current_year-birth_year
age

21

In [27]:
first="mahmoud"
mid="farag"
last="ali"
print(f"{first} {mid} {last}")

mahmoud farag ali

In [33]:
print("invalid variable names is 1record , record-one , record^one")

invalid variable names is 1record , record-one , record^one

# Task on Numbers:

1. You have a football field that is 92 meter long and 48.8 meter wide. Find out total
area using python and print it.
2. You bought 9 packets of potato chips from a store. Each packet costs 1.49 dollar
and you gave shopkeeper 20 dollar. Find out using python, how many dollars is the shopkeeper going to give you back?
3. You want to replace tiles in your bathroom which is exactly square and 5.5 feet
is its length. If tiles cost 500 rs per square feet, how much will be the total
cost to replace all tiles. Calculate and print the cost using python
(Hint: Use power operator ** to find area of a square)

In [34]:
long=92
wide=48.8
print(long*wide)

4489.599999999999

In [35]:
num_of_packets=9
price=1.49
given=20 
print(given-(num_of_packets*price))

6.59

In [36]:
side_length = 5.5
cost = 500
area = side_length**2
total_cost = area*cost
print(total_cost)

15125.0

# Task on String:
1. Create 3 variables to store street, city and country, now create address variable to
store entire address. Use two ways of creating this variable, one using + operator and the other using f-string.
Now Print the address in such a way that the street, city and country prints in a separate line
2. Create a variable to store the string "Earth revolves around the sun"
    1. Print "revolves" using slice operator
    2. Print "sun" using negative index
3. Create two variables to store how many fruits and vegetables you eat in a day.
Now Print "I eat x veggies and y fruits daily" where x and y presents vegetables and fruits that you eat everyday. Use python f string for this.
4. I have a string variable called s='maine 200 banana khaye'. This of course is a
wrong statement, the correct statement is 'maine 10 samosa khaye'.
Replace incorrect words in original strong with new ones and print the new string.
Also try to do this in one line.

In [37]:
street="mohamed ibraheem"
city="cairo"
country="egypt"
add1 = street + "\n" + city + "\n" + country
add2 = f"{street}\n{city}\n{country}"
print(add1)
print(add2)

mohamed ibraheem
cairo
egypt
mohamed ibraheem
cairo
egypt

In [40]:
str = "Earth revolves around the sun"
print(str[6:14])
print(str[-3:])

revolves
sun

In [42]:
fruits=5
vegetables=6
print(f"i eat {fruits} fruits and {vegetables} vegetables")

i eat 5 fruits and 6 vegetables

In [44]:
str='maine 200 banana khaye'
str= s.replace('200', '10').replace('banana', 'samosa')
print(str)

maine 10 samosa khaye